          <!DOCTYPE html>
          <html lang="en">
          {% autoescape true %}
          <head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
            <title>Attender</title>

            <!-- CSS  -->
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
            <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
          </head>

          <body>
            <nav class="white" role="navigation">
              <div class="nav-wrapper container">
                <a id="logo-container" href="#" class="brand-logo"><img src="/images/logo1.png"></a>
                <ul class="right hide-on-med-and-down">
                    <li><a><i href="#modal1" class="material-icons modal-trigger">input</i></a></li>
                    <li><a><i href="#modal2" class="material-icons modal-trigger">assignment</i></a></li>
                    <li><a><i href="#modal3" class="material-icons modal-trigger">today</i></a></li>
                </ul>
              </div>
                    <!-- Modal1 Structure -->
                <div id="modal1" class="modal light-blue-text text-accent-3 ">
                  <div class="modal-content yellow lighten-5">
                    <form >
                      <div class="row">
                           <div class="input-field">
                              <input id="email" type="email" class="validate">
                              <label for="email">Email</label>
                            </div>
                      </div>
                      <div class="row">
                          <div class="input-field">
                            <input id="password" type="password">
                            <label for="password">Password</label>
                          </div>
                      </div>
                   </form>
                   </div>
                  <div class="modal-footer yellow lighten-5 ">
                    <a class="btn waves-effect waves-light modal-action modal-close" type="submit" name="action"> Submit <i class="material-icons">send</i></a>
                  </div>
                </div>

                 <!-- Modal2 Structure -->
                <div id="modal2" class="modal light-blue-text text-accent-3 ">
                  <div class="modal-content yellow lighten-5">
                    <form >
                      <div class="row">
                          <div class="input-field">
                            <input id="firstname" type="text">
                            <label for="firstname">First Name</label>
                          </div>
                      </div>
                      <div class="row">
                          <div class="input-field">
                            <input id="lastname" type="text">
                            <label for="lastname">Last Name</label>
                          </div>
                      </div>
                      <div class="row">
                           <div class="input-field">
                              <input id="email2" type="email" class="validate">
                              <label for="email">Email</label>
                            </div>
                      </div>
                      <div class="row">
                          <div class="input-field">
                            <input id="password2" type="password">
                            <label for="password2">Password</label>
                          </div>
                      </div>
                   </form>
                   </div>
                  <div class="modal-footer yellow lighten-5 ">
                    <button class="btn waves-effect waves-light modal-action modal-close" type="submit" name="action"> Submit <i class="small material-icons">send</i></button>
                  </div>
                 </div>

                    <!-- Modal3 Structure -->
                <div id="modal3" class="modal light-blue-text text-accent-3 ">
                  <div class="modal-content yellow lighten-5">
                   </div>
                  <div class="modal-footer yellow lighten-5 ">
                    <a class="btn waves-effect waves-light modal-action modal-close" type="submit" name="action"> Submit <i class="material-icons">send</i></a>
                  </div>
                </div>
            </nav>

            {% macro seturl(city = '', category = '', time = '', name = '') %}
            {% set url = '/home?' %}

            {% if city != '' %}
            {% set url = url + "city="+ city %}
            {% endif %}

            {% if category!= '' %}
            {% if city != "" %}
            {% set url = url+"&category="+ category %}
            {% else %}
            {% set url = url + "category="+ category %}
            {% endif %}
            {% endif %}
            {% if time != '' %}
            {% if category != '' or  city != "" %}
            {% set url = url + "&time="+ time %}
            {% else %}
            {% set url = url + "time="+ time %}
            {% endif %}
            {% endif %}
             <li><a href="{{url}}#list">{{name}}</a></li>


            {%  endmacro %}


            <div id="index-banner" class="parallax-container">
              <div class="section no-pad-bot">
                <div class="container">
                  <br><br>
                  <h1 class="header center green-lighten-5-text text-darken-3">Search.Attend.Meet.</h1>
                  <br><br>
                </div>
              </div>
              <div class="parallax"><img src="/images/meetings3.jpg" alt="Unsplashed background img 1"></div>
            </div>
            <A NAME = "list">
            <div class="container">
              <div class="section">
                <div class="row center">
                  <div class="grid-example col s4">
                        <a class="btn dropdown-button" data-hover="true" href="#!" data-activates="dropdown1">City<i class="mdi-navigation-arrow-drop-down right"></i></a>
                        <ul id="dropdown1" class="dropdown-content">
                         {{ seturl(city = 'Tel Aviv-Yafo',name='Tel Aviv-Yafo') }}
                         {{ seturl(city = 'Jerusalem',name='Jerusalem') }}
                         {{ seturl(city = 'Herzeliyya',name='Herzeliyya') }}
                         {{ seturl(city = 'Haifa',name= 'Haifa') }}
                         {{ seturl(city = 'Raanana',name='Ra\'anana') }}
                         {{ seturl(city = 'Rekhovot', name='Rekhovot') }}
                         {{ seturl(city = 'Kefar Sava', name = 'Kefar Sava') }}
                         {{ seturl(city = 'Ramat Gan',name='Ramat Gan') }}
                         {{ seturl(city = 'Netanya',name='Netanya') }}
                         {{ seturl(city = 'Modiin',name='Modi\'in') }}
                        </ul>
                  </div>

                  <div class="grid-example col s4">
                       <a class="btn dropdown-button" data-hover="true" href="#!" data-activates="dropdown2">Type<i class="mdi-navigation-arrow-drop-down right"></i></a>
                       <ul id="dropdown2" class="dropdown-content">
                           {{ seturl(city= city , category= "Career",name = 'Career and Business') }}
                           {{ seturl(city = city , category = 'Community',name = 'Community&ampEnvironment') }}
                           {{ seturl(city = city,category = 'Entertainment',name = 'Entertainment') }}
                           {{ seturl(city = city,category = 'Fitness',name = 'Fitness') }}
                           {{ seturl(city = city,category = 'Health',name = 'Health&ampWellbeing') }}
                           {{ seturl(city = city,category = 'Politics',name = 'Politics') }}
                           {{ seturl(city = city,category = 'New Age',name = 'New Age&ampSpirituality') }}
                           {{ seturl(city = city,category = 'Socializing',name = 'Socializing') }}
                           {{ seturl(city = city,category = 'Tech',name = 'Tech') }}
                           {{ seturl(city = city,category = 'Transport',name = 'Transport') }}
                       </ul>
                  </div>

                  <div class="grid-example col s4">
                     <a class="btn dropdown-button" data-hover="true" href="#!" data-activates="dropdown3">Date<i class="mdi-navigation-arrow-drop-down right"></i></a>
                      <ul id="dropdown3" class="dropdown-content">
                          {{ seturl(city=city, category=category, time= '1d', name = 'Day ahead')}}
                          {{ seturl(city=city, category=category, time= '1w', name = 'Week ahead')}}
                          {{ seturl(city=city, category=category, time= '1m', name = 'Month ahead')}}
                      </ul>
                  </div>
                </div>
              </div>
            </div>
                                            </A>


            <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
              <a class="btn-floating btn-large red modal-trigger" href="#modal3">
                <i class="material-icons">today</i>
              </a>
            </div>
            <div class="container">
              <div class="section">
                <div class="row">
                    <ul class="collapsible popout" data-collapsible="accordion">
                        {% set num=0 %}

                        {% for event in events[page*10:(page+1)*10] %}
                        <li>
                            <div class="collapsible-header">
                              <div class="col s6 truncate"><i class="material-icons">info</i>{{ event['name']}}</div>
                              <div class="col s3 "><i class="material-icons">query_builder</i> {{ event['date']}}</div>
                              <div class="col s3 "><i class="material-icons">location_on</i>{{ event['city'] }}</div>
                            </div>
                            <div class="collapsible-body">
                              <p>{{event['description']}}</p>
                                <input type="checkbox" id="test{{num}}"/>
                                <label for="test{{num}}" class="right-align"> Attend </label>
                            </div>
                        </li>
                        {% set num = num+1 %}
                        {% endfor %}
                    </ul>
                </div>
                  {% set button="active" %}
                  {% set button2="waves-effect" %}
                  <div class="row">
                     <ul class="col s6 offset-s4 pagination center-align">
                         {% if page > 1 %}
                        <li class="enabled"><a href="/home?page={{page-1}}#list"><i class="material-icons">chevron_left</i></a></li>
                         {% else %}
                        <li class="disabled"><a href="/home?page={{page-1}}#list"><i class="material-icons">chevron_left</i></a></li>
                         {% endif %}

                        <li class="active"><a href="/home?page={{ page }}#list">{{ page }}</a></li>
                        <li class="waves-effect"><a href="/home?page={{page+1}}#list">{{page+1}}</a></li>
                        <li class="waves-effect"><a href="/home?page={{page+2}}#list">{{page+2}}</a></li>
                        <li class="waves-effect"><a href="/home?page={{page+3}}#list">{{page+3}}</a></li>
                        <li class="waves-effect"><a href="/home?page={{page+4}}#list">{{page+4}}</a></li>
                        <li class="waves-effect"><a href="/home?page={{page+1}}#list"><i class="material-icons">chevron_right</i></a></li>
                      </ul>
                  </div>
              </div>
                <h3><i class="center-align mdi-content-send black-text"></i> About Us </h3>
                <div class="row">
                  <div class="col s6 offset-s1">
                    <div class="left-align light">
                         <h6> This is Attender website.</h6>
                         <h6> For Android application, please <a href=" https://www.dropbox.com/s/74behm01kammqp4/app-debug.apk?dl=0"  target="_blank">download our apk file</a></h6>
                         <h6>For more information please visit our <a href="https://github.com/denbedilov/ATTENDER/wiki">Github Wiki</a></h6>
                    </div>
                  </div>
                </div>
            </div>

            <footer class="page-footer teal">
            </footer>

            <!--  Scripts-->
            <script async type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
            <script async type="text/javascript" src="/js/materialize.min.js"></script>
            <script async type="text/javascript" src="/js/materialize.js"></script>
            <script async type="text/javascript" src="/js/list.pagination.min.js"></script>
            <script async type="text/javascript" src="/js/init.js"></script>

          </body>
          </html>
  {% endautoescape %}